.calendar__container {
  width: 150px;
  margin-right: 10px;

  @include media-laptop {
    width: 100px;
  }

  @include media-mobile {
    width: 80px;
    margin-right: 5px;
  }
}

.calendar {
  display: flex;
  margin-right: 10px;

  @include media-mobile {
    margin-right: 0;
  }
}
