.dates-field {
  display: grid;
  max-width: 1080px;
  overflow: hidden;
  grid-auto-columns: 150px;
  grid-auto-flow: column;
  grid-column-gap: 5px;
  scroll-behavior: smooth;

  @include media-laptop {
    max-width: 660px;
    grid-auto-columns: 90px;
  }

  @include media-tablet {
    max-width: 380px;
    grid-auto-columns: 72px;
  }

  @include media-mobile {
    max-width: 320px;
    grid-auto-columns: 60px;
  }
}

.date__col {
  text-align: center;

  &:last-child {
    margin-right: 0;
  }
}

.dates-field .date{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  margin-bottom: 5px;
  @include font($size: 2rem, $weight: 400, $height: 2.7rem);
  background-color: #eee;

  @include media-mobile {
    max-width: 320px;
    grid-auto-columns: 60px;

    @include font($size: 1.5rem, $weight: 400, $height: 2rem);
  }
}