.employee {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: white;
  @include font($size: 2rem, $weight: 400, $height: 2.7rem);
  background-color: #29c263;
  margin-bottom: 5px;
  @extend %transition;

  @include media-mobile {
    @include font($size: 1.5rem, $weight: 400, $height: 2rem);
    height: 70px;
  }
}