.task-cell {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  margin-bottom: 5px;
  background-color: #fff;
  @extend %transition;

  &:hover {
    background-color: #eee;
    z-index: 100;
  }

  @include media-mobile {
    height: 70px;
  }
}

.task {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #29c263;
  color: white;
  @include font($size: 1.6rem, $weight: 400, $height: 2rem);
  word-break: break-all;
  margin-bottom: 1px;
  @extend %transition;
  padding: 5px 10px;

  &:hover > .description {
    display: block;
  }

  @include media-tablet {
    @include font($size: 1.3rem, $weight: 400, $height: 1.5rem);
    padding: 5px;
  }

  @include media-mobile {
    @include font($size: 1rem, $weight: 400, $height: 1.2rem);
    padding: 5px;
  }
}

.task-end {
  background-color: #f55a5a;
}

.description {
  position: absolute;
  top: 0;
  left: calc(100% + 5px);
  width: 100%;
  display: none;
  color: #fff;
  background-color: #969ee7;
  word-break: break-all;
  text-align: center;
  padding: 10px 5px;
  z-index: 1000;
  @extend %transition;
}

.draggable {
  border-radius: 5px;
  background-color:#969ee7;
  @extend %transition;
  cursor: pointer;

  &:hover {
    background-color:#8c85f0;
  }
}