html {
    font-size: 10px;
    box-sizing: border-box;
}
  
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    @extend %font-add;
    font-style: normal;
    @include font();
    color: #000;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.disabled {
    opacity: .5;
    pointer-events: none;
}

.hide {
    display: none;
}

.hovered {
    border: 1px solid #000;
}